<mat-card class="wrapper">
    <mat-card-header>
        Esto es el uso de trackBy
    </mat-card-header>
    <mat-card-content>
        <ul class="ul-list">
            <p>Estos son los elementos:</p>
            <li *ngFor="let user of usersName; let i = index; trackBy: trackByFunction">
                Index: {{i}} - Name: {{ user.name }} - Id: {{ user.id }}

            </li>
        </ul>
        <div class="input-button-container">
            <mat-form-field appearance="outline">
                <mat-label>Nuevo Nombre</mat-label>
                <input matInput [(ngModel)]="newName" />
            </mat-form-field>
            <button mat-button (click)="addName()">Agregar Nombre</button>
            <button mat-button (click)="removeName()">Eliminar</button>
        </div>
    </mat-card-content>
</mat-card>