* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.rs-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 0 24px;
}

mat-card {
  width: 100%;
  padding: 20px;
  margin: 20px;
}
